@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center">
    <img src="~/images/eNews2.png" style="width: 320px;">
</div>
<br />
<div class="row">
    <div class="col-lg-3">
        <h4>
            Podaci za pristup Android aplikaciji <br /><br />
            <b>Username:</b> korisnik<br />
            <b>Password:</b> test
        </h4>
    </div>
    <div class="col-lg-3">
        <h4>
            Programski kod je postavljen na stranici GitHub.<br />
            <br />
            Linkovi za pristup GitHub repozitorijima:<br />
            1. <a href="https://github.com/selmasoljic/eNovine_Android" target="_blank">eNovine_Android</a>.<br/>
            2. <a href="https://github.com/selmasoljic/eNovine_WebAPI" target="_blank">eNovine_WebAPI</a>.<br/>
        </h4>

    </div>
    <div class="col-lg-3">
        <h4>
            Link za pristup Web-baziranom Android Emulatoru (Appetize.io) je<a href="https://appetize.io/app/9gcfemk6et9utpcpc7ra96jpn4" target="_blank"> ovdje</a>.

        </h4>

    </div>
    <div class="col-lg-3">
        <h4>
            Link za preuzimanje .apk fajla:<br/>
            <a href="https://edufit-my.sharepoint.com/:u:/g/personal/selma_soljic_edu_fit_ba/ESksR3HBchlJhgxgAJ4rXagB0Mf0R_-6CAOPbG6TcmL3kA?e=v1L34p" target="_blank">OneDrive</a>

        </h4>

    </div>

    
</div>


